doctype 5
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        style(type='text/css')
            html,body { height: 100%; }
            #tabs {
                position: absolute;
                top: 0px;
                left: 8px;
                right: 8px;
                bottom: 38px;
            }
            #footer {
                background-color: #f5f5f5;
                position:absolute;
                bottom:0px;
                left:0px;
                right:0px;
                height: 38px;
            }
            #footer > div { margin: 4px 0; }

            .irc {
                font-family:monospace;
                padding-bottom: 1em;
            }
            #message_row {
                display:block;
            }
            //- #message_row #time:before { content: "[" }
            //- #message_row #time:after { content: "]"}
            #message_row #user {
                display: inline-block;
                text-align: right;
                padding-right: .5em;
                border-right: 1px solid #959595;
                margin-right: .5em;
            }
            #messages {
                overflow:auto;
                position: absolute;
                top: 118px;
                left: 8px;
                right: 8px;
                bottom:0px;
            }
            #inputarea {
                display:table;
                width:100%;
            }
            #inputarea > input {
                display:table-cell;
                width:100%;
            }
            #inputarea .add-on {
                display:table-cell;
                width: 4em;
                padding-left: 1em;
            }
    body
    div.container-fluid
        div.tabbable.tabs#tabs
            h1= title
            ul.nav.nav-tabs
                each channel, i in channels
                    - var active=""; if (i === 0) active="active";
                    li(class=active)
                        a.tab_button(href=channel, data-toggle="tab") #{channel}

            div.tab-content#content
                - each channel, i in channels
                    - var active=""; if (i === 0) active="active";
                    div.tab-pane.irc(id=channel.replace("#", ""), class=active)
                        div#messages
                            -each item in data[channel]
                                div#message_row
                                    span#time [#{item.time}]
                                    span#user !{item.user}
                                    span#message !{item.message}

        div.container-fluid#footer
            div.input-append.input-block-level#inputarea
                input(type="text")
                span.add-on.btn Send

    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(type='text/javascript', src='/js/bootstrap.js')
    script(type='text/javascript', src="/socket.io/socket.io.js")
    script
        $(document).ready(function(){
            var channels = {};
            $("#content > .irc").each(function (index) {
                channels["#" + $(this).attr("id")] = $(this).find("#messages");
                var $channel = channels["#" + $(this).attr("id")]
                $channel.namePanelWidth = 0;
                $channel.nameCharWidth = 8;

                $channel.updateNamePanelWidth = function updateNamePanelWidth(name, firstRun){
                    var text = (name !== "*") ? $(name).text() : name;
                    var width = text.length * this.nameCharWidth;
                    if (width > 600) debugger;
                    if (width > this.namePanelWidth) {
                        this.namePanelWidth = width;
                        if (!firstRun) this.setNamePanelWidths();
                    };
                    return this.namePanelWidth;
                };
                $channel.setNamePanelWidths = function setNamePanelWidths() {
                    // Can't use .find("#users") because weird bug: http://i.imgur.com/D79k5FO.png
                    for (var i = 0; i < this.children().length; i++) {
                        var $child = $(this.children()[i]);
                        $child.find("#user").css("width", this.namePanelWidth + "px");
                    }
                };
                $channel.scrollToBottom = function scrollToBottom() {
                    this.animate({"scrollTop": this[0].scrollHeight}, "slow");
                };
            });

            $.each(channels, function (index) {
                this.scrollToBottom();

                // Can't use .find("#users") because weird bug: http://i.imgur.com/D79k5FO.png
                for (var i = 0; i < this.children().length; i++) {
                    var $child = $(this.children()[i]);
                    this.updateNamePanelWidth($child.find("#user"), true);
                }
                this.setNamePanelWidths();
            });

            $(".tab_button").on("click", function(){
                // Use a timeout bcuz the scrolling doesn't trigger otherwise. vOv
                var channel = $(this).attr("href");
                setTimeout(function(){
                    channels[channel].scrollToBottom()
                }, 50);
            });

            // Set up real-time message streaming
            var socket = io.connect('http://localhost');
            socket.on("irc_message", function (data) {

                var $channel = channels[data.channel],
                    $time = $("<span/>", {html: "[" + data.time + "]", id: "time"}),
                    $user = $("<span/>", {html: data.user, id: "user"}).css({
                        "display": "inline-block",
                        "text-align": "right",
                        "padding-right": ".5em",
                        "border-right": "1px solid #959595",
                        "margin-right": ".5em",
                        "width": $channel.updateNamePanelWidth(data.user)
                    }),
                    $message = $("<span/>", {html: data.message, id: "message"}),
                    $messagerow = $("<div/>", {id: "messagerow"}).append($time, $user, $message);
                $channel.append($messagerow);
                $channel.scrollToBottom();
            });
        });