extends layout

block content
    h1= title
    div.tabbable.tabs#relayedChannels
        ul.nav.nav-tabs
            each channel, i in channels
                - var active=""; if (i === 0) active="active";
                li(class=active)
                    a(href=channel, data-toggle="tab") #{channel}

        div.tab-content
            - each channel, i in channels
                - var active=""; if (i === 0) active="active";
                div.tab-pane.irc(id=channel.replace("#", ""), class=active)
                    div#messages
                        -each item in data
                            p #{JSON.stringify(item)}
            div#inputarea
                input

    style
        .irc {
            font-family:monospace;
        }
        #message_row #user{
            width: 6em;
            text-align: right;
        }
        #message_row {
            display:block;
        }
        #messages {
            height:30em;
            overflow:auto;
        }
        #inputarea {
            height:2em;
            background: #ff0;
        }